<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <title>{{game.player_white}} vs {{game.player_black}}</title>
    <style>
        table{
            border-collapse: collapse;
            margin: 20px 0;
        }
        td {
            width:40px;
            height: 40px;
            text-align: center;
            vertical-align: middle;
            border: 1px solid #000;
            font-size: 24px;
        }
        .light {
            background-color: #f0d9b5;
        }
        .dark {
            background-color: #b58863;
        }
    </style>
<script>
    let from = null;

    function squareClicked(td) {
        const coord = td.dataset.coord;
        console.log("Clicked:", coord);

        if (!from) {
            from = coord;
            td.style.outline = "2px solid red";
        } else {
            const to = coord;
            alert(`move from ${from} to ${to}`);  // správný template string
            from = null;

            document.querySelectorAll("td").forEach(cell => {
                cell.style.outline = "";
            });
        }
    }

    console.log("JavaScript is loaded");
</script>
</head>
<body>

<h1>{{ game.player_white }} vs {{ game.player_black }}</h1>

<table>
  {% for row in board %}
    <tr>
      {% for square in row.squares %}
         <td data-coord="{{ square.col_letter }}{{ row.row_num }}"
                onclick="squareClicked(this)"
                class="{% if forloop.parentloop.counter0|add:forloop.counter0|divisibleby:2 %}light{% else %}dark{% endif %}">
                {{ square.value }}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>


</body>
</html>
